{% extends "padre.html" %}
      
{%load static %}

{% block contenido %}

       <form action="alta_profesor" method="POST" class="container">

        {% csrf_token %}

        <p>Nombre:</p>
        <input type="text" name="nombre" required>
        <p>Apellido:</p>
        <input type="text" name="apellido" required>
        <p>Documento:</p>
        <input type="number" name="documento" required>
        <p>Email:</p>
        <input type="email" name="email" required>
        <input type="submit" value="Enviar">
       

   </form>
<a href="{% url 'inicio' %}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left-circle"></i> Volver al inicio
    </a>
</div>

   {% endblock %}